/* ANTD INPUT */

.ant-otp {
    column-gap: 1.75rem;
}

.ant-otp-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    padding: 0.6875rem 1rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.25rem;
    border: 1px solid #d1c3c3;
    background: #fff;
    box-shadow: none;
    outline: none;
    font-size: 1.7rem;
    color: var(--CD-N-10, #0e0e0e);
    font-weight: 400;
    line-height: 1.5rem;
}

.auth_input {
    width: 100% !important;
    display: flex !important;
    height: 2.5rem !important;
    padding: 0.41819rem 1.25rem !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.29869rem !important;
    align-self: stretch !important;
    border-radius: 0.3125rem !important;
    border: 1px solid #ded0be !important;
    background: #fff !important;
}

.primary_input {
    display: flex;
    width: 100% !important;
    height: 2.5rem !important;
    padding: 0.41819rem 1.25rem 0.41819rem 0.75rem !important;
    align-items: center !important;
    gap: 0.625rem !important;
    align-self: stretch !important;
    border-radius: 0.3125rem !important;
    border: 1px solid var(--Stroke, #e5e5e5) !important;
    background: #fff !important;
}

.primary_input:focus-within {
    box-shadow: 0 0 0 1px #e5e5e5 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    background-clip: content-box !important;
    transition: background-color 9999s ease-in-out 0s;
}

input:-moz-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -moz-text-fill-color: inherit !important;
}

/* ANTD SELECT */

.auth_input .ant-select-selector {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    align-self: stretch !important;
    border: none !important;
    background: #fff !important;
    box-shadow: none !important;
}

.auth_input:hover .ant-select-selector {
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.ant-select {
    box-shadow: none !important;
    background: #fff !important;
    padding: 0 !important;
}

.primary_input .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    background: #fff !important;
}

/* ANTD FORM ITEM */

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-form-item-control-input-content {
    background-color: #fff !important;
}

.ant-form-item-label {
    padding: 0 0 0.62rem !important;
}

.ant-form-item-label label {
    width: 100%;
    color: #3d3d3d !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    text-wrap: auto !important;
    text-align: left !important;
    height: 100% !important;
}

.ant-form-item-required::before {
    content: '' !important;
}

.ant-form-item-required::after {
    content: '*' !important;
    visibility: visible !important;
}

.ant-form-item-has-error .ant-form-item-control-input-content {
    height: 100% !important;
    border-radius: 0.3125rem !important;
    border: 1px solid #ff4d4f !important;
    background: #fff !important;
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-select,
.ant-form-item-has-error .ant-select-selector,
.ant-form-item-has-error .ant-input-number {
    border: none !important;
    box-shadow: none !important;
}

.ant-form-item-has-error .ant-form-item-additional {
    display: none !important;
}

/* ANT CHECKBOX */

.auth_checkbox .ant-checkbox-inner {
    width: 0.875rem !important;
    height: 0.875rem !important;
    aspect-ratio: 1 / 1 !important;
    border-radius: 0.25rem !important;
    border: 1px solid #ded0be !important;
}

.auth_checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #948566;
}

.auth_checkbox.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #948566 !important;
    border-color: #948566 !important;
}

.auth_checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
    height: 9.142857px !important;
    top: 45% !important;
}

/* ANTD MENU */

.ant-menu {
    height: auto !important;
    background: transparent !important;
    flex-direction: column !important;
    border-inline-end: none !important;
}

.ant-menu-title-content {
    color: #fff !important;
    font-size: 0.8125rem !important;
    font-weight: 500 !important;
    line-height: 150% !important;
}

.ant-menu-item-active span {
    color: #fff !important;
    font-size: 0.8125rem !important;
    font-weight: 500 !important;
    line-height: 150% !important;
}

.ant-menu-item-selected {
    width: 100% !important;
    display: flex !important;
    border-radius: 0.25rem !important;
    background: rgba(248, 239, 226, 0.3) !important;
}

/* ANTD DRAWER */

.primary_drawer .ant-drawer-header {
    display: none !important;
}

.primary_drawer .ant-drawer-body {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important;
}

/* ANT BUTTON */

.ant-btn-icon {
    display: flex !important;
}

.ant-btn:hover {
    background: unset !important;
    color: unset !important;
    border-color: unset !important;
}

.ant-btn-loading-icon svg {
    fill: #545454 !important;
}

.ant-btn-loading span {
    color: #545454 !important;
}

/* ANTD DROPDOWN */

.ant-dropdown-trigger {
    display: flex !important;
}
